/* src/components/ClientPage.css */
/* src/components/ClientPage.css */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.Modal button{
  width: 40%;
  margin-left: 20px;
  margin-top: 20px;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.client-page {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .user-info-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-buttons {
    display: flex;
    align-items: center;
  }
  
  .username {
    font-size: 20px;
  }
  
  .header-buttons button {
    border-radius: 10px;
    width:fit-content ;
    font-size: large;
    margin-left: 10px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
  }
  
  .info-section, .analysis-section {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  .info-section h3 {
    text-decoration: underline;
    text-align: left;
  }
  
  .graphs-section {
    display: flex;
    justify-content: space-between;
  }
  
  .consumption-graph, .pie-graph {
    flex: 1;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .analysis-section {
    margin-top: 20px;
  }
  